/**********************
	FONTS
**********************/

/* Load variable font if supported */
@supports(font-variation-settings: 'wdth' 120) {
    @font-face {
        font-family: 'Roboto';
        src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/23581/RobotoSlab-VariableFont_wght.ttf') format('truetype-variations');
        font-weight: 125 900;
        font-stretch: 50% 250%;
        font-style: normal;
        font-display: fallback;
    }
}


/**********************
	DEFAULTS
**********************/

:root {
    --FyloBlue: hsl(228, 56%, 26%);
    --DarkBlue: hsl(229, 57%, 11%);

    --PgFore:   white;
    --PgBack:   hsl(229, 57%, 11%);
    --LinkFore: #000099;
    --LinkBack: transparent;

    --FSXLarge: 2rem;
    --FSLarge: 1.2rem;
    --FSmall: 0.9rem;

    --SPMin:    320px;
    --SPMax:    480px;
    --TabMin:   481px;
    --TabMax:   1024px;
    --DTMin:    1025px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: var(--PgBack);
    color: var(--PgFore);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    overflow: hidden;
}

a {
    text-decoration: none;
    background-color: var(--LinkBack);
    color: var(--LinkFore);
    font-weight: bold;
}

/* ----- Appareils sans Hover ----- */
@media (hover: none) {
    a {
        color: var(--LinkFore);
        text-decoration: none;
        border-bottom: var(--LinkFore) 0.125em solid;
        text-decoration-color: var(--LinkFore);
    }
}

a:hover, a:focus {
    color: var(--LinkFore);
    text-decoration: none;
    border-bottom: var(--LinkFore) 0.125em solid;

    text-decoration-color: var(--PgFore);
}

img, embed, object, video {
    max-width:	100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/***** BLOCKS ******/

.background {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    height: 500px;
    background: url('/images/bg-desktop.svg') no-repeat center/cover;
}

.container {
    background-color: var(--FyloBlue);
    border-radius: 10px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}
.container:first-child {
    width: 40%;
    min-height: 225px;
    margin-right: 5%;
    border-top-right-radius: 125px;
}

.containerData {
    position: relative;
    height: 200px;
    align-self: flex-end;
    font-weight: 400;
}

.containerData span {
    font-weight: 700;
}

.containerIcons {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 10%;
}
.containerSpaceValues {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
}

.icon {
    padding: 5%;
    border-radius: 10px;
    width: auto;
    height: auto;
    margin-right: 5%;
    background-color: var(--PgBack);

}

.infoDataLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50px;
    top: -50px;
    width: 175px;
    height: 75px;
    color: hsl(229, 7%, 55%);
    background-color: var(--PgFore);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;

}
.infoDataLeft:after {
    content: "";
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: -25px;
    background-color: var(--PgFore);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.infoDataLeft span {
    font-size: 36px;
    margin-right: 5%;
    color: var(--PgBack);
}

progress {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 3% 0;
}

progress[value] {
    position: relative;
    border: none;
    background-color: var(--DarkBlue);
    border: 3px solid var(--DarkBlue);
    border-radius: 35px;
    width: 100%;
    height: 25px;
}
progress[value]::before {
     content:"";
     position: absolute;
     display: block;
    top: 2px;
     right: 0;
    border-radius: 100%;
     background-color: white;
     width: 15px;
     height: 15px;
 }
progress[value]::-webkit-progress-value {
    background: -webkit-linear-gradient(45deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 35px;
}
progress[value]::-moz-progress-bar {
    background: -moz-linear-gradient(45deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 35px;
}


.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 75%;
    display: flex;
    flex-direction: row;
    z-index: 10;
}